#container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

body {
    background-color: #121212;
}

h1 {
font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 0.875rem; 
  margin: 0;  
   letter-spacing: 4px; 
   color:#707070
}

h2 {
font-family: 'Fredoka', sans-serif; 
font-weight: 400; 
font-size: 2rem;
color:#f5f5f5
}

h3 {
  font-family: 'Rubik', sans-serif; 
  font-weight: 400; 
  font-size: 1.125rem; 
  line-height: 116%;
  color: #707070
}

p{
font-family: 'Rubik', sans-serif; 
  font-weight: 300; 
  font-size: 0.875rem;
  color: #f5f5f5;
  max-width: 32ch;
   line-height: 1.6;
}


#banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  height: 250px;
  background-color: #141414; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  text-align: center;      
  box-sizing: border-box; 
}


.stripe.big {
  position: absolute;
  top: 0;       
  left: 0;       
  width: 30px;   
  height: 100%;  
  background-color: #FFD166;
  transform: none;  
  z-index: 0;
}


.stripe.small {
  position: absolute;
  top: 0;
  left: 40px;     
  width: 20px;    
  height: 100%;  
  background-color: #6A4C93;
  transform: none;
  z-index: 0;
}

.stripe.blue {
  position: absolute;
  top: 0;
  left: 20px;        
  width: 20px;       
  height: 100%;      
  background-color: #06D6A0;
  transition: transform 2.0s ease; 
  z-index: 1;        
}

.stripe.blue:hover {
  transform: translateY(-100%); 
}

.info-area {
  display: flex;      
  gap: 20px;           
  justify-content: center; 
  align-items: flex-start;
  margin: 40px 0;      
}


.info-box {
  border: 2px dotted #f5f5f5;
  border-radius: 20px;        
  padding: 16px;
  width: auto;                   
  background-color: transparent; 
  max-width: 32ch;
  margin: 0 auto;
   line-height: 1.6;
}


.info-box h2 {
   margin: 0 0 16px 0;               
  padding: 0;
  font-weight: 500; 
font-size: 1.5rem;
color:#707070
}


.info-box a {
  display: inline-block; 
text-align: center;         
  margin: 8px 8px 8px 0;    
  padding: 8px 12px;
  background-color: #181818; 
  color: #f5f5f5;      
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  transition: background-color 0.8s ease, color 0.4s ease;
}

.info-box a:hover {
  background-color: #f5f5f5;
  color: #181818;
  transform: scale(1.05);
}

.info-box h2,
.info-box a {
     width: 100%;
     box-sizing: border-box; 
     margin: 0 0 1rem 0;
}

.site-footer {
  width:100%;              
  height: 100px;                    
  background-color: #181818;       
  display: flex;                   
  justify-content: space-between;   
  align-items: center;            
  padding: 0 32px;                
  font-family: 'Rubik', sans-serif;
  font-weight: 400;                
  font-size: 0.75rem;               
  color: #f5f5f5;
  border-top: 1px solid #757575; 
  box-sizing: border-box;         
  margin: 0 auto;  
  animation: glow 6s ease-in-out infinite;       
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 #FFFFFF00;
  }
  50% {
    box-shadow: 0 0 20px #4D9DE033; 
  }
  100% {
    box-shadow: 0 0 0 #FFFFFF00;
  }
}

.site-footer a {
  color: #f5f5f5;                 
  text-decoration: underline;      
}